<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="display-3 mt-5">Page Not Found ...</h1>
  </div>

  <div class="d-flex justify-content-center" style="background-image: url(../../../assets/JacobsLand.JPG); width: 100%; height: 100vh; background-repeat: no-repeat; background-size: cover;  ">
    <p class="p-3 lead mt-3 " >
      The Page You Are Looking For Does Not Exist. Please Try Navigating To The
      <a routerLink="/">Home Page</a> .
       
    </p>
  </div>
</div>
