<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="display-4 mt-5">
      {{ accountService.currentUserValue.username }}'s Dashboard
    </h1>
  </div>

  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <h5 class="display-7 mt-5">
        {{ accountService.currentUserValue.lineOfDescent }}
      </h5>
    </div>
  </div>

  <ng-template #noblogs>
    <div class="d-flex justify-content-center">
      <h3 class="text-dark mt-3">
        You don't have any blogs or publications yet...
      </h3>
    </div>

    <button
      class="btn btn-lg btn-outline-primary mt-4 mb-4"
      (click)="createBlog()"
    >
      New Blog / Publication
    </button>
  </ng-template>

  <ng-template [ngIf]="userBlogs.length > 0" [ngIfElse]="noblogs">
    <button
      class="btn btn-lg btn-outline-primary mt-4 mb-4"
      (click)="createBlog()"
    >
      New Blog / Publication
    </button>

    <table class="table table-hover table-striped"></table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Snippet</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userBlog of userBlogs">
        <td class="px-2">
          {{ userBlog.title | summary : 25 }}
        </td>
        <td class="px-2">
          {{ userBlog.content | summary : 90 }}
        </td>
        <td>
          <button
            class="btn btn-info d-inline ml-2"
            (click)="editBlog(userBlog.blogId)"
          >
            Edit
          </button>

          <button
            *ngIf="!userBlog.deleteConfirm"
            class="btn btn-danger d-inline ml-2"
            (click)="confirmDelete(userBlog)"
          >
            Delete
          </button>
          <div *ngIf="!!userBlog.deleteConfirm">
            Are You Sure?
            <button
              class="btn btn-link p-1"
              (click)="deleteConfirmed(userBlog, userBlogs)"
            >
              Yes
            </button>
            <button
              class="btn btn-link p-1"
              (click)="cancelDeleteConfirm(userBlog)"
            >
              No
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </ng-template>
</div>
