<header id="home-section" title="Sideling Hill Possible Site William F Crow Farm" class="mb-4">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row">
                <div class="col-lg-8 d-non d-lg-block mt-5">

                     <h1 class="display-4 text-dark">
                        Start Writing Your <strong> First Post</strong> and <strong> Share Your Research Today</strong> 
                     </h1>

                     <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-dark"></i>
                        </div>                        
                        <div class="p-4 align-self-end text-dark">
                           Simple Registration Will only take a Few Seconds to Complete and Log In. 
                        </div>
                     </div>  

                     
                     <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-dark"></i>
                        </div>                        
                        <div class="p-4 align-self-end text-dark">
                           Start Interacting with Other Researchers and Build Connections as you Publish Your Finds.
                        </div>
                     </div>  

                     <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-dark"></i>
                        </div>                        
                        <div class="p-4 align-self-end text-dark">
                           Have your Research Featured in Our Most Discussed Section When Users Comment on Your Posts.
                        </div>
                     </div>  
                </div>

                <div class="col-lg-4 mt-5">
                    <div class="card bg-muted text-center card-form">
                        <div class="card-body">
                            <app-register></app-register>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</header>
<app-famous-blogs></app-famous-blogs>  

