<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="display-4">Most Discussed Posts</h1>
  </div>

  <div *ngIf="isLoading" class="mt-3 text-center text-muted" role="status">
    <h2 class="mb-0">{{ statusMessage }}</h2>
  </div>

  <div *ngIf="!!errorMessage" class="alert alert-danger mt-3" role="alert">
    {{ errorMessage }}
  </div>
</div>

<ng-container *ngIf="!isLoading">
  <ng-template [ngIf]="famousBlogs.length! > 0" [ngIfElse]="noBlogs">
    <div class="container card-columns mt-5 card-group justify-content-center">
      <app-blog-card
        *ngFor="let famousBlog of famousBlogs"
        [blog]="famousBlog"
      ></app-blog-card>
    </div>
  </ng-template>

  <ng-template #noBlogs>
    <div class="mt-4">
      <div class="d-flex justify-content-center">
        <h3 class="text-dark">Currently, No Posts Are Being Discussed...</h3>
      </div>
    </div>
  </ng-template>
</ng-container>
